#container {
    border: 2px solid rgb(75 70 74);
    border-radius: 0.5em;

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seesaw-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    margin: 2rem;
}

.plank {
    position: absolute;
    width: 400px;
    height: 10px;
    left: 50%;
    top: 120px;
    background-color: slateblue;
    transform: translate(-50%, 0) rotate(var(--angle, 0deg));
    transform-origin: 50% 50%;
    z-index: 2;
}

.pivot {
    position: absolute;
    left: 50%;
    top: 125px;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent; 
    border-bottom: 40px solid green;
    z-index: 1;
}

.plank .weights { position: relative; width: 100%; height: 100%;  }

.object {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: tomato;
    top: 50%;
    transform: translate(-50%, -50%);
    font: 10px/18px system-ui, sans-serif; /* if you show "kg" text later */
    text-align: center;
    color: white;
    pointer-events: none;
}

.stats {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font: 16px/1.5 system-ui, sans-serif;
    color: #333;
    display: flex;
    gap: 2rem;
}